<h2><%= gettext "My account" %></h2>
<div class="col-md-6">
  <%= link gettext("Edit"), to: user_path(@conn, :edit), class: "btn btn-primary" %>
  <table class="table table-striped">
    <tr>
      <td><%= gettext "First name" %></td>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <td><%= gettext "Last name" %></td>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <td><%= gettext "Email" %></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td><%= gettext "Time zone" %></td>
      <td><%= @user.time_zone %></td>
    </tr>
    <tr>
      <td><%= gettext "API Key" %></td>
      <td>
        <code><%= @user.api_key %></code>
        <br>
        <br>
        <%= link gettext("Generate new API Key"), to: user_path(@conn, :generate_api_key), method: "put", class: "btn btn-warning" %>
      </td>
    </tr>
  </table>
</div>
