<h2>Edit email action</h2>

<%= render "form.html", changeset: @changeset,
                        action: email_action_path(@conn, :update, @email_action) %>

<%= link "Back", to: email_action_path(@conn, :index) %>
