<h2>Listing email actions</h2>

<table class="table">
  <thead>
    <tr>
      <th>Recipient</th>
      <th>Subject</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for email_action <- @email_actions do %>
    <tr>
      <td><%= email_action.recipient %></td>
      <td><%= email_action.subject %></td>
      <td><%= email_action.body %></td>

      <td class="text-right">
        <%= link "Show", to: email_action_path(@conn, :show, email_action), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: email_action_path(@conn, :edit, email_action), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: email_action_path(@conn, :delete, email_action), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New email action", to: email_action_path(@conn, :new) %>
