<h2>New email action</h2>

<%= render "form.html", changeset: @changeset,
                        action: email_action_path(@conn, :create) %>

<%= link "Back", to: email_action_path(@conn, :index) %>
