<h2>Show email action</h2>

<ul>

  <li>
    <strong>Recipient:</strong>
    <%= @email_action.recipient %>
  </li>

  <li>
    <strong>Subject:</strong>
    <%= @email_action.subject %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @email_action.body %>
  </li>

</ul>

<%= link "Edit", to: email_action_path(@conn, :edit, @email_action) %>
<%= link "Back", to: email_action_path(@conn, :index) %>
