<h2>Edit trigger</h2>

<div class="row">
  <div class="col-md-6">
    <%= render "form.html", changeset: @changeset,
                        action: trigger_path(@conn, :update, @trigger), condition_choices: @condition_choices, data_type_choices: @data_type_choices, feed_choices: @feed_choices %>
  </div>
</div>
<%= link "Back", to: trigger_path(@conn, :index) %>
