<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :data_type, class: "control-label" %>
    <%= select f, :data_type, @data_type_choices, class: "form-control" %>
    <%= error_tag f, :data_type %>
  </div>

  <div class="form-group">
    <%= label f, :condition, class: "control-label" %>
    <%= select f, :condition, @condition_choices, class: "form-control" %>
    <%= error_tag f, :condition %>
  </div>

  <div class="form-group">
    <%= label f, :feed_id, class: "control-label" %>
    <%= select f, :feed_id, @feed_choices, class: "form-control" %>
    <%= error_tag f, :feed_id %>
  </div>

  <div class="form-group">
    <%= label f, :comparison_value, class: "control-label" %>
    <%= text_input f, :comparison_value, class: "form-control" %>
    <%= error_tag f, :comparison_value %>
  </div>

  <div class="form-group">
    <%= label f, :action_type, class: "control-label" %>
    <%= text_input f, :action_type, class: "form-control" %>
    <%= error_tag f, :action_type %>
  </div>

  <div class="form-group">
    <%= label f, :action_id, class: "control-label" %>
    <%= number_input f, :action_id, class: "form-control" %>
    <%= error_tag f, :action_id %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
