<h2>Listing triggers</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Data type</th>
      <th>Condition</th>
      <th>Comparison value</th>
      <th>Action type</th>
      <th>Action</th>
      <th>Feed</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for trigger <- @triggers do %>
    <tr>
      <td><%= trigger.name %></td>
      <td><%= trigger.data_type %></td>
      <td><%= trigger.condition %></td>
      <td><%= trigger.comparison_value %></td>
      <td><%= trigger.action_type %></td>
      <td><%= trigger.action_id %></td>
      <td><%= trigger.feed.name %></td>

      <td class="text-right">
        <%= link "Show", to: trigger_path(@conn, :show, trigger), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: trigger_path(@conn, :edit, trigger), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: trigger_path(@conn, :delete, trigger), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New trigger", to: trigger_path(@conn, :new) %>
