<h2>New trigger</h2>

<%= render "form.html", changeset: @changeset, action: trigger_path(@conn, :create), condition_choices: @condition_choices, data_type_choices: @data_type_choices, feed_choices: @feed_choices %>

<%= link "Back", to: trigger_path(@conn, :index) %>
