<h2>Show trigger</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @trigger.name %>
  </li>

  <li>
    <strong>Data type:</strong>
    <%= @trigger.data_type %>
  </li>

  <li>
    <strong>Condition:</strong>
    <%= @trigger.condition %>
  </li>

  <li>
    <strong>Comparison value:</strong>
    <%= @trigger.comparison_value %>
  </li>

  <li>
    <strong>Action type:</strong>
    <%= @trigger.action_type %>
  </li>

  <li>
    <strong>Action:</strong>
    <%= @trigger.action_id %>
  </li>

  <li>
    <strong>Feed:</strong>
    <%= @trigger.name %>
  </li>

</ul>

<%= link "Edit", to: trigger_path(@conn, :edit, @trigger) %>
<%= link "Back", to: trigger_path(@conn, :index) %>
