<h2><%= gettext "Edit feed" %></h2>

<%= render "form.html", changeset: @changeset,
                        action: feed_path(@conn, :update, @feed) %>

<%= link gettext("Back"), to: feed_path(@conn, :index) %>
