<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p><%= gettext "Oops, something went wrong! Please check the errors below." %></p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= textarea f, :description, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= label f, :latitude, class: "control-label" %>
    <%= number_input f, :latitude, step: "any", class: "form-control" %>
    <%= error_tag f, :latitude %>
  </div>

  <div class="form-group">
    <%= label f, :longitude, class: "control-label" %>
    <%= number_input f, :longitude, step: "any", class: "form-control" %>
    <%= error_tag f, :longitude %>
  </div>

  <div class="form-group">
    <%= submit gettext("Submit"), class: "btn btn-primary" %>
  </div>
<% end %>
