<h2><%= gettext "Listing feeds" %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= gettext "Name" %></th>
      <th><%= gettext "Description" %></th>
      <th><%= gettext "Latitude" %></th>
      <th><%= gettext "Longitude" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for feed <- @feeds do %>
    <tr>
      <td><%= feed.name %></td>
      <td><%= feed.description %></td>
      <td><%= feed.latitude %></td>
      <td><%= feed.longitude %></td>

      <td class="text-right">
        <%= link gettext("Show"), to: feed_path(@conn, :show, feed), class: "btn btn-default btn-xs" %>
        <%= link gettext("Edit"), to: feed_path(@conn, :edit, feed), class: "btn btn-default btn-xs" %>
        <%= link gettext("Delete"), to: feed_path(@conn, :delete, feed), method: :delete, data: [confirm: gettext("Are you sure?")], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link gettext("New feed"), to: feed_path(@conn, :new) %>
