<h2><%= gettext "New feed" %></h2>

<%= render "form.html", changeset: @changeset,
                        action: feed_path(@conn, :create) %>

<%= link gettext("Back"), to: feed_path(@conn, :index) %>
