<div class="col-md-6">
  <h2>
    <%= @feed.name %>
    <%= link gettext("Edit"), to: feed_path(@conn, :edit, @feed), class: "btn btn-primary btn-xs" %>
    <%= link gettext("Back"), to: feed_path(@conn, :index), class: "btn btn-default btn-xs" %>
    <%= link gettext("Export"), to: measure_path(@conn, :export, @feed), class: "btn btn-default btn-xs" %>
  </h2>
  <ul style="list-style: none">
    <li>
      <strong><%= gettext "Description" %>:</strong>
      <%= @feed.description %>
    </li>

    <li>
      <strong><%= gettext "Latitude" %>:</strong>
      <%= @feed.latitude %>
    </li>

    <li>
      <strong><%= gettext "Longitude" %>:</strong>
      <%= @feed.longitude %>
    </li>

    <li>
      <strong><%= gettext "API Key" %>:</strong>
      <%= @feed.api_key %>
      <br>
      <%= link gettext("Generate new API Key"), to: feed_path(@conn, :generate_api_key, @feed.id), method: "put", class: "btn btn-warning btn-xs" %>
    </li>
  </ul>

  <div id="chart" class="epoch" style="width: 100%; height: 400px">
  </div>
</div>
<div class="col-md-6">
  <h3><%= gettext "Try the API" %></h3>
  <h4><%= gettext "Push a value" %></h4>
  <h5><%= gettext "Using" %> Curl</h5>
  <pre>
curl -H "X-Api-Key: <%= @feed.api_key %>" -H "Content-Type: application/json" -d '{"value": 55}' <%= @url <> measure_path(@conn, :create) %>
  </pre>
  <h5><%= gettext "Using" %> <a href="http://httpie.org">httpie</a></h5>
  <pre>
echo '{"value": 55}' | http post <%= @url <> measure_path(@conn, :create) %> X-Api-Key:<%= @feed.api_key %>
  </pre>
  <h4><%= gettext "Get values" %></h4>
  <h5><%= gettext "Using" %> Curl</h5>
  <pre>
curl -H "X-Api-Key: <%= @feed.api_key %>" -H "Content-Type: application/json" <%= @url <> measure_path(@conn, :index, @feed.id) %>
  </pre>
  <h5><%= gettext "Using" %> <a href="http://httpie.org">httpie</a></h5>
  <pre>
http get <%= @url <> measure_path(@conn, :index, @feed.id) %> X-Api-Key:<%= @feed.api_key %>
  </pre>
</div>
<script>
  window.feed_id = <%= @feed.id %>
  window.feed_api_key = '<%= @feed.api_key %>'
</script>
